#nama {
color: rgb(85, 5, 5);
background-color: rgb(214, 176, 176);
text-align: center;
margin: 15px;
padding: 20px;
border-radius: 30px;
}
.bio {
    color: rgb(36, 3, 3);
    background-color: rgb(214, 176, 176);
    text-align: center;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}