.navbar,
.hero,
.produk-section,
extra-section,
.footer{
    width: 90%;
    max-width: 1100px;

    margin-left: auto;
    margin-right: auto;

    border: 1px solid #777;
}

.navbar{
    display: flex;
    margin-top: 20px;
    background-color: #dcecff;
    padding: 15px;
    justify-content: space-between;
}

.navigation {
    /* grid-template-columns: repeat(3, 1fr); */
    display: flex;
    justify-content: space-between;

}

.hero {
    margin-top: 15px;
    padding: 25px;
    display: flex;
    flex-direction: row;
}
.hero-container{
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    border: 2px solid black;
}
.hero-text{
    flex: 11 400px;
    padding: 20px;
    
}
.hero-text h1{
    border: 1px solid #777;
    padding: 10px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 24px;
}
.hero-text p{
    border: 1px solid #aaa;
    padding: 5px;
    margin-bottom: 8px;
}
.btn-primary{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 18px;
    background-color: #1559a6;
    color: white;
    text-decoration: none;
    border: 1px solid #0b376b;
    border-radius: 3px;
}
.hero-image{
    flex: 11 400px;
    padding: 10px;
}

.galery{
    

}
.galery-text h1{
    padding: 10px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 24px;
}

.kartu{
    padding: 4px;
    width: 250px;
    border: 1px solid #0b376b;
    display: flex;
    flex-direction: column;
}
.container{
    padding: 6px;
    display: grid;
    grid-template-columns: repeat(4, 1fr );
    gap: 20px;
    border: 2px solid black;
}